@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
    /**/
    .main
        margin-top: 20vh
    .quote__map
        margin: auto
        margin-bottom: 30px
    .quote__heading
        text-align: center
    .quote__subheading
        text-align: center
        padding-bottom: 30px
    .quote__help
        left: 280px
    .quote__service
        width: 165px
        height: 205px
    .user__registration
        right: -13%
        top: 170px
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
    /**/
    .main
        margin-top: 15vh
    .quote__help
        display: none
    .quote__image
        margin-top: 25px
    .signin__memory-legend::after
        display: none
    .signin
        margin-top: 20vh
    .bottom-border
        border-bottom: 1px solid #B1B1B1
    .signin__button
        margin-bottom: 50px
    .signin__heading-create
        padding-top: 40px
    .user__registration
        right: -13%
        top: 230px
    .user__advertising
        margin: auto
    .user__text-first
        text-align: center
        padding-bottom: 10px
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
    /**/
    body
        font-size: 14px

    .header__form
        width: 73%

    .header__form-label
        display: none

    .header__form-mail
        left: 40px

    .header__form-subscribe 
        display: inline-block
        font-size: 1.375em

    .header__form-input
        padding-left: 30px
        width: 28px
        transition: width .4s ease-in-out

    .header__form-input:focus 
        width: 100%

    .header__form-button 
        display: none

    .header__link
        margin-left: 0

    .main
        margin-top: 10vh

    .main__form-radio
        padding: 8px

    .main__form-select
        width: 80%

    .main__form-scanning 
        line-height: 35px

    .scombobox
        margin-right: -2px

    .scombobox-display
        padding: 10px

    .scombobox-list p
        padding: 10px
    .signin
        margin-top: 10vh
    .user__heading
        text-align: center
        padding-bottom: 30px
    .user__link
        text-align: center
        padding-left: 0
    .user__registration
        right: 13%
        top: 95px
    .user__subheading
        text-align: center
    .user__text,
    .user__text-first
        text-align: center
/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
    .print
        font-size: 12px
    .margin25
        margin-top: 10px

    .main__form 
        padding-top: 10px

    .main__form-radio 
        display: block
        margin-top: 10px
        border-radius: 50px 50px 50px 50px

    .main__form-radio:first-of-type
        border-radius: 50px 50px 50px 50px

    .main__form-radio:last-of-type
        border-radius: 50px 50px 50px 50px 
    .user__registration
        width: 320px
        right: 3%
        top: 95px

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

